# Build and Release Folders

.git/
node_modules/
package.json
package-lock.json
gulpfile.js


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
